------------------------------------------Lable Encoder----------------------------------------

In [1]:
student_class=["class1","class2","class3","class4"]
instances=["class1","class2","class3","class2","class4","class1","class3"]

In [3]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label_encoder=LabelEncoder()

In [8]:
encoded_labels=label_encoder.fit_transform(instances)

In [9]:
encoded_labels

array([0, 1, 2, 1, 3, 0, 2])

In [10]:
original_labels=label_encoder.inverse_transform(encoded_labels)

In [11]:
print("Original labels:",original_labels)

Original labels: ['class1' 'class2' 'class3' 'class2' 'class4' 'class1' 'class3']

----------------------------OneHot Encoding------------------------------------------

In [12]:
import pandas as pd

In [13]:
data={"catagory":["classA","classB","classC","classA","classC","classB"]}

In [14]:
df=pd.DataFrame(data)
df.head()

  catagory
0   classA
1   classB
2   classC
3   classA
4   classC

In [16]:
one_hot_encoded_df=pd.get_dummies(df,columns=["catagory"])
one_hot_encoded_df

   catagory_classA  catagory_classB  catagory_classC
0             True            False            False
1            False             True            False
2            False            False             True
3             True            False            False
4            False            False             True
5            False             True            False